useDynLib("RcppNLoptExample", .registration=TRUE)

import("nloptr", "tl")
importFrom("Rcpp", "sourceCpp")
importFrom("utils", "packageVersion")

export("testConstrainedProblem", "nloptVersion", "wrapper")
